:root {
  --primary-color:rgb(26, 134, 26);
  --body-color:rgb(34, 31, 31);
  --font-color:whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--body-color);
  color: var(--font-color);
}

header {
  width: 100%;
  height: 10vh;
  background-color: var(--body-color);
}

/*NAVIGATION*/
.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 1.2rem;
}

span {
  color: var(--primary-color);
  font-family: 'Pacifico', cursive;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  list-style: none;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.nav__link {
  color: var(--font-color);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--primary-color);
}

.toggle {
  background-image: url(../Images/menu.png);
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}

.toggle.active {
  background-image: url(../Images/close.png);
  background-color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
}

/*HOMEPAGE*/
.home {
  width: 100%;
  height: 90vh;
  background-image: url(../Images/img4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home__desc {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home__desc h1 {
  -webkit-animation: slideInFromLeft 1s ease-in;
          animation: slideInFromLeft 1s ease-in;
  font-size: 2rem;
  margin-bottom: 20px;
}

.home__desc p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.home__buttons {
  -webkit-animation: slideInFromRight 1s ease-in;
          animation: slideInFromRight 1s ease-in;
}

.home__btn {
  background-color: var(--primary-color);
  color: var(--font-color);
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  margin-right: 20px;
  font-size: 1.2rem;
}

.home__btn:hover {
  background-color: transparent;
  border: 1px solid var(--primary-color);
}

@-webkit-keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*MENU*/
.menu {
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50px;
    background-color: var(--body-color);
    z-index: 10;
    display: none;
  }
  .navigation.active {
    display: block;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item {
    margin-bottom: 20px;
  }
  /*HOMEPAGE*/
}
/*# sourceMappingURL=style.css.map */