:root {
    --primary-color:rgb(26, 134, 26);
    --body-color:rgb(34, 31, 31);
    --font-color:whitesmoke;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: var(--body-color);
    color: var(--font-color);
    padding: 30px 80px;
}
header {
    margin-bottom: 2rem;
}
/*NAVIGATION*/
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 1.2rem;
}
span {
    color: var(--primary-color);
    font-family: 'Pacifico', cursive;    
}
.nav__list {
    display: flex;
}
.nav__item {
    list-style: none;
    margin-right: 1rem;
    font-size: 1.2rem;
}
.nav__link {
    color: var(--font-color);
    text-decoration: none;
}

/*HOMEPAGE*/
.home {
    width: 100%;
    height: 80vh;
    display: flex;
    &__desc {
        padding: 150px 20px 0px 20px;

        p {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
    } 
    &__btn{
        background-color: var(--primary-color);
        color: var(--font-color);
        padding: 10px 20px;
        border: 1px solid var(--primary-color);
        margin-right: 20px;
        font-size: 1.2rem;
        
    } 
    &__btn:hover {
        background-color: transparent;
        border: 1px solid var(--primary-color);
    }   
    &__img {
        animation: home 2s linear reverse;
    }      
}

@keyframes home{
    from{transform: translateX(0);}
    to{transform: translateX(200px);}
}
