:root {
    --primary-color:rgb(26, 134, 26);
    --body-color:rgb(34, 31, 31);
    --font-color:whitesmoke;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: var(--body-color);
    color: var(--font-color);
    
}
header {
    width: 100%;
    height: 10vh;
    background-color: var(--body-color);

}


/*NAVIGATION*/
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 1.2rem;
}
span {
    color: var(--primary-color);
    font-family: 'Pacifico', cursive;    
}
.nav__list {
    display: flex;
}
.nav__item {
    list-style: none;
    margin-right: 1rem;
    font-size: 1.2rem;
}
.nav__link {
    color: var(--font-color);
    text-decoration: none;
}
.nav__link:hover {
    color: var(--primary-color);
}
.toggle {
    
    background-image: url(../Images/menu.png);
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}
.toggle.active {
    background-image: url(../Images/close.png);
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
}

/*HOMEPAGE*/
.home {
    width: 100%;
    height: 90vh;
    background-image: url(../Images/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__desc {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        h1 {
            animation: slideInFromLeft 1s ease-in;
            font-size: 2rem;
            margin-bottom: 20px;

        }
        p {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
    } 
    &__buttons {
        animation: slideInFromRight 1s ease-in;
    }
    &__btn{
        background-color: var(--primary-color);
        color: var(--font-color);
        padding: 10px 20px;
        border: 1px solid var(--primary-color);
        margin-right: 20px;
        font-size: 1.2rem;
        
    } 
    &__btn:hover {
        background-color: transparent;
        border: 1px solid var(--primary-color);
    }   
         
}

/*MENU*/
.menu {
    margin-top: 100px;
    width: 100%;
    padding: 0 30px;
    &__title {
        color: var(--primary-color);
        text-align: center;
        font-size: 2rem;
        margin-bottom: 100px;
    }
}
.breakfast {
    margin-bottom: 100px;
}
.breakfast, .lunch {
    display: flex;
    justify-content: center;
}
.breakfast__title, .lunch__title {
    border-bottom: 1px solid var(--primary-color);
}
.breakfast__desc {
    margin-right: 100px;
}
.breakfast__img {
    width: 340px;
    animation: slideInFromRight 1s ease-in;

}
.breakfast__img img {
    width: 100%;
}
.lunch__desc {
    padding: 0 60px;
}
.lunch__img {
    width: 340px;
    animation: slideInFromLeft 1s ease-in;
    height: 400px;
}
.lunch__img img {
    width: 100%;
    height: 100%;
}

/*TESTIMONIALS*/
.testimonials {
    margin-top: 100px;
}
.testimonials h2 {
    color: var(--primary-color);
    text-align: center;
    font-size: 2rem;
}
.card__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
.card {
    width: 320px;
    height: 360px;
    background-color: #2D2828;
    margin: 0 30px;
    border: 1px solid #2D2828;
    border-radius: 16px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.card__heading {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.card__img {
    width: 60px;
    height: 60px;
    border: 1px solid #2D2828;
    border-radius: 50%;

}
.card__img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.card__title p {
    color: var(--primary-color);
}

/*KEYFRAMES*/
@keyframes slideInFromRight{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0);}
}

@keyframes slideInFromLeft{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0);}
}

/*CONTACT*/
.contact {
    width: 100%;
    padding: 0 53px;
    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    & h2 {
        color: var(--primary-color);
        text-align: center;
        font-size: 2rem;
        margin-bottom: 100px;
    }
}
#form {
    width: 600px;
    height: 600px;
    background-color: #2D2828;
    padding: 30px;
}
label {
    font-weight: 600;
}
.required {
    color: red;
}
input {
    background-color: var(--font-color);
}
input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    
}
textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    
}
.submit__btn {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type=submit] {
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: var(--font-color);
    border:1px solid var(--primary-color);
    font-weight: bold;
    cursor: pointer;
}
::placeholder {
    font-size: 12px;
    font-family: inherit;
}
.contact__details {
    background-color: #2D2828;
    color: var(--font-color);
    width: 400px;

}

@media only screen and (max-width:768px) {
    
    .toggle {
        display: flex;
        
    }
    .navigation {
        width: 100%;
        height: 80vh;
        position: absolute;
        top: 50px;
        background-color: var(--body-color);
        z-index: 10;
        display: none;
    }
    .navigation.active {
        display: block;
    }
    .nav__list {
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .nav__item {
        margin-bottom: 20px;
    }

    /*HOMEPAGE*/
    /*MENU*/
    .menu {
        padding: 0 10px;
    }
    .lunch, .breakfast {
        flex-direction: column ;
    }
    .breakfast__desc {
        margin-right: 0;
    }
    .lunch__desc {
        padding: 0;
    }

}